{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post[curr_id]["image"]}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post[curr_id]["title"] }}</h1>
            <h2 class="subheading">{{ post[curr_id]["subtitle"] }}</h2>
            <span class="meta">Posted by
              <a href="#">{{ post[curr_id]["author"] }}</a>
              on {{ post[curr_id]["date"] }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{ post[curr_id]["body"] }}
          </p>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}
